.main{
    background-color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
}
#vishwa{
    background-color: rgb(255, 127, 176);
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div{
    background-color: rgb(79, 96, 252);
    font-family: Georgia, 'Times New Roman', Times, serif;
}